In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("D:/Mlops/artifacts/train_data.csv")

In [4]:
data.head()

,Unnamed: 0,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
0,541,3245,5,2,1950,1.518239,2,10,6.951954e+05
1,440,4860,5,2,1977,3.872417,0,6,1.060713e+06
2,482,1655,2,3,1997,2.519505,2,5,3.962773e+05
3,422,4579,2,3,2005,2.595571,0,10,9.874427e+05
4,778,2070,4,2,1978,3.453736,1,8,4.736292e+05

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            700 non-null    int64
 1   Square_Footage        700 non-null    int64
 2   Num_Bedrooms          700 non-null    int64
 3   Num_Bathrooms         700 non-null    int64
 4   Year_Built            700 non-null    int64
 5   Lot_Size              700 non-null    float64
 6   Garage_Size           700 non-null    int64
 7   Neighborhood_Quality  700 non-null    int64
 8   House_Price           700 non-null    float64
dtypes: float64(2), int64(7)
memory usage: 49.3 KB

In [6]:
data.drop(columns=['Unnamed: 0'] , inplace = True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Square_Footage        700 non-null    int64
 1   Num_Bedrooms          700 non-null    int64
 2   Num_Bathrooms         700 non-null    int64
 3   Year_Built            700 non-null    int64
 4   Lot_Size              700 non-null    float64
 5   Garage_Size           700 non-null    int64
 6   Neighborhood_Quality  700 non-null    int64
 7   House_Price           700 non-null    float64
dtypes: float64(2), int64(6)
memory usage: 43.9 KB

In [8]:
data.duplicated().sum()

np.int64(0)

In [9]:
data.corr()

,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
Square_Footage,1.000000,-0.045527,-0.032355,-0.002383,0.122137,0.048211,-0.012412,0.991171
Num_Bedrooms,-0.045527,1.000000,0.035968,-0.027029,-0.024815,0.117978,-0.040216,0.010955
Num_Bathrooms,-0.032355,0.035968,1.000000,-0.024984,0.022099,0.032992,0.052662,-0.002796
Year_Built,-0.002383,-0.027029,-0.024984,1.000000,-0.024306,-0.041249,-0.000531,0.074755
Lot_Size,0.122137,-0.024815,0.022099,-0.024306,1.000000,-0.003897,0.034042,0.193414
Garage_Size,0.048211,0.117978,0.032992,-0.041249,-0.003897,1.000000,0.019971,0.068306
Neighborhood_Quality,-0.012412,-0.040216,0.052662,-0.000531,0.034042,0.019971,1.000000,-0.008713
House_Price,0.991171,0.010955,-0.002796,0.074755,0.193414,0.068306,-0.008713,1.000000

In [10]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler

In [12]:
from sklearn.pipeline import Pipeline 
from sklearn.compose import ColumnTransformer

In [24]:
pipeline1 = ColumnTransformer([('Scaling' , MinMaxScaler() , ['Square_Footage' , 'Lot_Size'])] , remainder='passthrough')

In [25]:
pipeline2 = ColumnTransformer([('Scaling of Categorical Columns' , StandardScaler() , ['Garage_Size'])] , remainder='passthrough')

In [30]:
pipeline1.get_params

<bound method ColumnTransformer.get_params of ColumnTransformer(remainder='passthrough',
                  transformers=[('Scaling', MinMaxScaler(),
                                 ['Square_Footage', 'Lot_Size'])])>

In [32]:
transformed_data = pipeline1.fit_transform(data)

In [6]:
data[data['Square_Footage']==1360]

,Unnamed: 0,Square_Footage,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size,Garage_Size,Neighborhood_Quality,House_Price
34,0,1360,2,1,1981,0.599637,0,5,262382.852274